body{
    background: rgb(230,0,140);
    background: linear-gradient(90deg, rgba(230,0,140,1) 0%, rgba(117,0,86,1) 100%);
  }

#rankings-column{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.rankings-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 150px;
    width: 75%;
    background-color: white;
    margin-bottom: 50px;
    border-radius: 15px;
    padding:25px;
    -webkit-box-shadow: 0px 1px 18px -1px rgba(0,0,0,0.99);
    -moz-box-shadow: 0px 1px 18px -1px rgba(0,0,0,0.99);
    box-shadow: 0px 1px 18px -1px rgba(0,0,0,0.99);
}

.memers{
    height: 150px;
    border-radius: 15px;
}

.visit-link{
  text-align: center;
}

@media screen and (max-width: 750px) { 
  #columns { column-gap: 0px; }
}

.userInfo{
    display: flex;
    padding-bottom: 15px;
    height: 50px;
}
.userTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 15px;
    font-size: 24px;
}
.title-container{
    text-align: center;
    padding-bottom: 50px;
}

.main-title{
  top: 250px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size:120px;
	letter-spacing:0.1em;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: white;
  text-shadow: 
						8px 8px #ff1f8f,
						20px 20px #000000;
}
.menu-button{
    position: absolute;
    top:50px;
    right:10px;
}
.container {
    display: inline-block;
    cursor: pointer;
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }

  .nav-links{
    text-decoration: none;
    color: black;
    }
  .hidden{
      display: none;
  }
  #modal{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 75px;
    border-radius: 15px;
    -webkit-box-shadow: 0px 1px 18px -1px rgba(0,0,0,0.99);
    -moz-box-shadow: 0px 1px 18px -1px rgba(0,0,0,0.99);
    box-shadow: 0px 1px 18px -1px rgba(0,0,0,0.99);
    font-size: 32px;
    margin-bottom: 50px;
}
@media screen and (max-width: 750px) { 
    span{
        top: 250px;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size:60px;
          letter-spacing:0.1em;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: white;
        text-shadow: 
                              5px 5px #ff1f8f,
                              10px 10px #000000;
      }
      .rankings-container{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 500px;
        width: 50%;
        background-color: white;
        margin-bottom: 50px;
        border-radius: 15px;
        padding:25px;
        -webkit-box-shadow: 0px 1px 18px -1px rgba(0,0,0,0.99);
        -moz-box-shadow: 0px 1px 18px -1px rgba(0,0,0,0.99);
        box-shadow: 0px 1px 18px -1px rgba(0,0,0,0.99);
    }
  }